<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="
 		http://www.springframework.org/schema/beans
 		http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
        http://www.springframework.org/schema/util
 		http://www.springframework.org/schema/util/spring-util-3.2.xsd">

    <import resource="classpath:discount.xml" />

    <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations">
            <list>
                <value>classpath:october-cinema.properties</value>
                <value>classpath:velcom-cinema.properties</value>
                <value>classpath:discountValue.properties</value>
            </list>
        </property>
        <property name="ignoreResourceNotFound" value="true" />
        <property name="systemPropertiesMode">
            <util:constant
                    static-field="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer.SYSTEM_PROPERTIES_MODE_OVERRIDE" />
        </property>
    </bean>

    <bean id="auditoriumDaoProperties" class="com.epam.spring.hometask.dao.impl.AuditoriumDAOImpl">
    <property name="auditoriums">
        <list>
            <bean class="com.epam.spring.hometask.model.Auditorium">
                <constructor-arg index="0" value="${october.name}"/>
                <constructor-arg index="1" value="${october.seats.number}"/>
                <constructor-arg index="2" value="#{'${october.seats.vip}'.split(',')}"/>
            </bean>
            <bean class="com.epam.spring.hometask.model.Auditorium">
                <constructor-arg index="0" value="${velcom.name}"/>
                <constructor-arg index="1" value="${velcom.seats.number}"/>
                <constructor-arg index="2" value="#{'${velcom.seats.vip}'.split(',')}"/>
            </bean>
        </list>
    </property>
    </bean>

    <bean id="eventDAO" class="com.epam.spring.hometask.dao.EventDAO"/>
    <bean id="ticketDAO" class="com.epam.spring.hometask.dao.TicketDAO"/>
    <bean id="userDAO" class="com.epam.spring.hometask.dao.UserDAO"/>

    <bean id="auditoriumService" class="com.epam.spring.hometask.service.AuditoriumService">
        <property name="auditoriumDao" ref="auditoriumDao"/>
    </bean>
    <bean id="bookingService" class="com.epam.spring.hometask.service.BookingService">
        <property name="ticketDAO" ref="ticketDAO"/>
        <property name="userDAO" ref="userDAO"/>
        <property name="discountService" ref="discountService"/>
    </bean>

    <bean id="eventService" class="com.epam.spring.hometask.service.EventService">
        <property name="eventDAO" ref="eventDAO"/>
    </bean>
    <bean id="userService" class="com.epam.spring.hometask.service.UserService">
        <property name="userDAO" ref="userDAO"/>
    </bean>

</beans>